
.navScroll {
    position: relative;
    z-index: 10;
    width: 100%;
    top: 985px;
    /*right: 0;*/
    opacity: 1;
    z-index: 3;
    box-shadow: none; 
    transition: box-shadow 5s ease-in-out;
    overflow-x: hidden;
}




#navbar div {
    display: flex;
    justify-content: space-between;
    margin:0;
}

#navbar div a {
    padding: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--gray);
}

#navbar div a:hover {
    color: var(--white);
    transform: scale(1.02);
    transition: color .3s ease, transform .3s ease;
    animation: inclinar 0.5s ease-in-out;
}
@keyframes inclinar {
    0% {
        transform: rotate(0);
    }

    16%{
        transform: rotate(2deg);
    }
    32% {
        transform: rotate(-2deg); 
    }
    48% {
        transform: rotate(0.7deg); 
    }
    64% {
        transform: rotate(-0.7deg);
    }
    80%{transform: rotate(0.3deg);}

    100%{transform: rotate(0deg);}
}


#navbar div img {
    margin-right: .5rem;
    width: 35px;
}

#navbar button {
    background-color: transparent;
    color: var(--white);
    font-size: 1.5rem;
    padding: .1rem .3rem;
    margin: 0;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease,color 0.3s ease;
    &:hover{
        transform: scale(1.25);
        color: var(--gray);

    }
}


#navbar.open button {
    background-color: var(--black);
    color: var(--white);    
    border-radius: 2rem;

    &:hover{
        transform: scale(0.9);
        color: var(--gray);
    }
}

#navbar ul {
    background: linear-gradient(var(--primary),var(--primary-dark));
    border-top: 1px solid rgba(255,255,255,0.1);
    padding: 0;
    margin: 0;
    max-height: 0;
    transition: max-height .3s ease;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

#navbar.open ul {
    max-height: 150px;
}

#navbar li {
    list-style: none;
    padding: 0;
}

#navbar ul a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--white);
    transition: color .3s ease, background-color .3s ease;
}


#navbar ul a:hover,
#navbar ul a:focus {
    color: var(--black);
    background-color: var(--white);
}

#toggle:hover {
    background-color: var(--black);
}

#active {
    background-color: var(--primary-dark);
}




